:root {
  /* primary colors  */
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
  --white: #fff;
  --brown: #3e3e3e;
}

/* global styling  */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end of global styling  */

.intro-container {
  width: 100%;
  background: url(../assets/images/header.png) no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

.pre-nav li a {
  color: var(--white);
}

.intro {
  padding-left: 20px;
  padding-right: 10px;
}

.intro > span {
  color: var(--orange);
  line-height: 20px;
  font-size: 24px;
}

.intro h1 {
  color: var(--orange);
  font-family: "COCOGOOSE", sans-serif;
  padding: 10px 0;
  background-image: url("../assets/images/text-background.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 900;
}

.intro-description {
  border: 2px solid var(--white);
  font-size: 12px;
  opacity: 0.8;
  padding: 10px;
}

.intro h4 {
  padding-top: 10px;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 20px;
  opacity: 0.6;
}

.program-title span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  width: 50px;
  background-color: var(--orange);
}

.intro span:last-child {
  opacity: 0.6;
  padding-bottom: 30px;
  font-size: 12px;
  color: initial;
}

.program {
  background: url(../assets/images/partners.jpg);
  padding: 20px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.program-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.program-title h2 {
  color: var(--white);
}

.program-events {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.events {
  background-color: rgba(90, 88, 88, 0.392);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.events img {
  max-width: 40px;
  max-height: 40px;
}

.events h3 {
  color: var(--orange);
  font-size: 12px;
  display: inline-block;
}

.events p {
  width: 60%;
  color: var(--white);
  opacity: 0.8;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .pre-nav {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  .bars {
    padding: 30px 0 70px 30px;
  }

  .navbar {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .pre-nav {
    background-color: var(--brown);
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 10%;
  }

  .hamburger {
    display: none;
  }

  header {
    background-color: var(--white);
  }

  #campaign {
    border: 5px solid var(--orange);
    padding: 10px 15px;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 90%;
    margin-left: 5%;
  }

  nav ul {
    display: flex;
    gap: 50px;
  }

  .intro {
    padding-left: 16%;
    margin-top: 100px;
  }

  .intro-container {
    padding-bottom: 100px;
  }

  .intro span {
    font-size: 30px;
  }

  .intro h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .intro-description {
    width: 60%;
  }

  .intro h4 {
    padding-top: 40px;
    padding-bottom: 5px;
  }

  .program-events {
    flex-direction: row;
  }

  .events {
    flex-direction: column;
    text-align: center;
    min-height: 250px;
    justify-content: flex-start;
    gap: 20px;
  }

  .events p {
    width: 100%;
  }
}
